/* ====================================================================
Project:  Modal Windows
Author:  Lone Mortensen
Description:  This project uses modal windows to display information 
about individual content items on a web page. When a user clicks on an
item, a modal window opens on a blurred backdrop in front of the page 
contents. In addition to offering additional details about the selected 
item, the modal window allows users to navigate to the previous or next 
window without first returning to the web page. Users can navigate using
the window buttons or with their keyboard. 
Design: The project consists of two different modal window components 
on the same web page. The use of JavaScript modules allows for the script 
to be reused and applied to multiple separate modal window components.    
Built with: JavaScript, ES6 modules, HTML5, CSS3, and Flexbox.

===== *** =====

==================================================================== */

  /* -------------------- Global Styles -------------------- */

  /* Fonts:
  Headings: 'Alata', sans-serif;
  Subheadings: 'Alata', sans-serif;
  Paragraph text, regular 400: 'Nunito Sans', sans-serif;
  Paragraph text, bold 700: 'Nunito Sans', sans-serif;
  */

  html {
      font-size: 16px;
      scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #313131;
  }

  ul {
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
  }

  a {
    font-family: 'Alata', sans-serif;
    color: #313131;
    text-decoration: none;
  }
  
  h1 {
    font-family: 'Alata', sans-serif;
    font-size: 2.85rem;
  }
  
  h2 {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
  }
  
  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
  }
  
  figure {
    margin: 0;
  }
  
  /* Layout - Structural Styles */
   
  #portfolio, #gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
  }

  .content-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .component-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-flow: row wrap;
    width: 100%;
    margin: 50px 0px;
    padding: 0px 20px;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    width: 100%;
  }
  
  p {
    margin: 0;
  }
  
  /* Layout - Special Styles */
  
  /* -- title and subtitle: */
  .title {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-flow: row wrap;
    width: 100%;
    margin: 30px 0px;
  }
  
  .main-title {
    text-align: center;
  }
  
  .title-line {
    width: 100%;
    height: 1px;
    margin: 20px 170px 20px 170px;
    background: #313131;
    border: none;
  }
  
  .subtitle {
    text-align: center;
  }
  
  /* -- modal 'View' button: */
  .view-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 20px 20px 0px;
  }

  .button-style {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    transform: scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

  .button-style:hover {
    transform: scale(1);
    transition: 0.3s ease-in-out transform;
  }

  
  /* -------------------- Base Header-Footer Styles -------------------- */
  
  /* HEADER */
  /* FOOTER */
  
  /* -------------------- Mobile Styles - Homepage -------------------- */
  
  /* MODAL WINDOW - Mobile */
  
  /* Styling applied in JavaScript: */

  .backdrop-blur {
    position: fixed; /*Keeps backdrop in place*/
    z-index: 1; /*Situates backdrop on top*/
    left: 0;
    right: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /*Enables scroll*/
    background-color: rgba(83, 86, 91, 0.9); /*rgba sets opacity without inheritance*/
  }

  .modal-window {
    position: fixed; /*Positions modal relative to viewport*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 2;
    width: 75%;
  }

  .modal-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    background-color: rgb(225, 219, 199); /* rgba() sets opacity without inheritance. */
  }

  .modal-image {
    margin: 10px;
    width: 100%;
  }

  .modal-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px; 
  }

  .modal-content {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 100%;
    margin: 10px;
  }

  .modal-title {
    padding-left: 5px; 
  }

  .modal-description {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 5px 5px 0px 5px;
  }

  .modal-links {
    margin: 5px 0px 5px 0px;
    padding: 5px 0px 0px 5px;
  }

  .modal-links-styling {
    cursor: pointer;
    pointer-events: auto;
    transition: color 700ms;
  }

  .modal-links-styling:hover {
    color: #9c9c9c;
  }

  .modalLink-1, .modalLink-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 0px 5px 0px;
  }

  .modalLink-1 i, .modalLink-2 i {
    margin-left: 10px;
  }

  .modalNavigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0px 10px 0px 10px;
  }

  .arrowButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 50%;
    margin: 0;
  }

  .arrowPrevious, .arrowNext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 20%;
  }

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin: 0px 10px 0px 10px;
    background-color: #ffffff;
  }
 
  .previousModal, .nextModal { 
    /*Styling for button element:*/
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }

  .previousModal i, .nextModal i { 
    font-size: 0.9rem;
  }

  .closeButton {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-flow: row wrap;
    width: 20%;
    margin: 0;
  }

  .closeButton-style {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    background-color: #ffffff;
    transform: scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

 .closeButton-style:hover {
    transform: scale(1);
    transition: 0.3s ease-in-out transform;
  }


  /* PORTFOLIO - Mobile */
  
  #portfolio {
    padding: 60px 0px 60px 0px;
  }
    
  #portfolio .content-background {
    margin: 60px 0px 0px 0px;
    background-color: #453E4F;
  }  
 
  .project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .project figure {
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
    background-color: #e1dbc7;
  }

  .project-title {
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .project-title span {
    color: #ffffff;
    font-size: 3rem;
  }

  #portfolio .button-style {
    color: #e1dbc7;
    background-color: #05b8ee;
  }

 
  /* GALLERY - MOBILE */

  #gallery {
    padding: 60px 0px 60px 0px;
  }

  #gallery .content-background {
    margin: 60px 0px 60px 0px;
    background-color: #355E3B;
  }  

  .gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .gallery figure {
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 0px 5px 0px 5px;
    border-radius: 12px;
    background-color: #e1dbc7;
  }

  .gallery-title {
    padding: 40px 0px 0px 0px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
  }
 
  .gallery-title span {
    color: #ffffff;
    font-size: 3rem;
  }

  #gallery .button-style {
    color: #e1dbc7;
    background-color: #EC5800;
  }
  
  /* -------------------------- Tablet Styles ------------------------- */
  
  @media only screen and (min-width: 768px) {
    
    /* Global and Structural Styles - Tablet */
  
    h1 {
      font-size: 3rem;
    }
  
    h2 {
      font-size: 2.25rem;
    }
  
    h4 {
      font-size: 1.85rem;
    }

    /* Layout - Special Styles - Tablet */
  
    /* -- title and subtitle: */
    .title-line {
      margin: 20px 250px 20px 250px;
    }
  
    .title {
      margin: 50px 0px;
    }
  
    /* ------------- Tablet - Base Header-Footer Styles ------------- *
    
    /* HEADER - Tablet */
    /* FOOTER - Tablet */
  
    /* ---------------- Tablet Styles - Homepage ---------------- */
   
    /* MODAL WINDOW - Tablet */
  
    /* Styling applied in JavaScript: */
    
    .modal-wrapper {
      padding: 30px;
    }
    
    .modal-title {
      font-size: 2rem;
    }

    .modal-description {
      padding: 10px 5px 0px 5px;
    }

    .modal-links {
      padding: 10px 0px 0px 5px;
    }
    
    .arrowButtons {
      width: 70%;
    }

    .closeButton {
      width: 15%;
    }


    /* PORTFOLIO - Tablet */
  
    .project {
      width: 45%;
    }


    /* GALLERY - Tablet */

    .gallery {
      width: 45%;
    }
  }
  
  /* -------------------------- Desktop Styles ------------------------- */
  
  @media only screen and (min-width: 1200px) {
  
    /* Global and Structural Styles - Desktop */
  
    h1 {
      font-size: 4.5rem;
    }
  
    h2 {
      font-size: 3.25rem;
    }
  
    h4 {
      font-size: 2.25rem;
    }

    .content-wrapper {
      max-width: 1200px;
    }

    /* Layout - Special Styles - Desktop */
  
    /* -- title and subtitle: */
    .title {
      margin: 60px 0px;
    }
  
    .title-line {
      margin: 30px 385px 30px 385px;
    }
  
    /* ------------- Desktop - Base Header-Footer Styles ------------- *
    
    /* HEADER - Tablet */
    /* FOOTER - Tablet */
  
    /* ------------------ Desktop Styles - Homepage ------------------ */
    
     /* MODAL WINDOW - Desktop */
  
    /* Styling applied in JavaScript: */

    .modal-window {
      max-width: 50%;
    }


    /* PORTFOLIO - Desktop */
         
    .project {
      width: 30%;
    }
      
    .project figure {
      margin: 30px 0px 30px 0px;
    }


    /* GALLERY - Desktop */

    .gallery {
      width: 30%;
    }

    .gallery figure {
      margin: 30px 0px 30px 0px;
    }
  }    