/* ====================================================================
Project:  Modal Window
Author:  Lone Mortensen
Description:  TBD

Built with: JavaScript, HTML5, CSS3, and Flexbox.

===== *** =====

==================================================================== */

/* -------------------- Global Styles -------------------- */

/* Fonts:
Headings: 'Alata', sans-serif;
Subheadings: 'Alata', sans-serif;
Paragraph text, regular 400: 'Nunito Sans', sans-serif;
Paragraph text, bold 700: 'Nunito Sans', sans-serif;
*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #ffffff;
    color: #313131;
  }

  ul {
    margin: 0;
    list-style-type: none;
  }

  li {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
  
  h1 {
    font-family: 'Alata', sans-serif;
    font-size: 2.85rem;
  }
  
  h2 {
    font-family: 'Alata', sans-serif;
    font-size: 2rem;
  }
  
  h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
  }
  
  figure {
    margin: 0;
  }
  
  /* Layout - Structural Styles */
   
  #portfolio, #gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
  }

  .content-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #000401; */
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    width: 100%;
  }
  
  p {
    margin: 0;
  }
  
  /* Layout - Special Styles */
  
  /*DELETE project-line css???*/
  .project-line {
    width: 100%;
    height: 1px;
    margin: 20px 0px 20px 0px;
    background: #313131;
    border: none;
  }

   
  /* -------------------- Base Header-Footer Styles -------------------- */
  
  /* HEADER */
  /* FOOTER */
  
  /* -------------------- Mobile Styles - Homepage -------------------- */
  
  /* MODAL WINDOW - MOBILE */

  /* Styling applied in JavaScript: */

  .backdrop-blur {
    position: fixed; /*Keeps backdrop in place*/
    z-index: 1; /*Situates backdrop on top*/
    left: 0;
    right: 0;
    width: 100%; /*Change to viewport width: 100vw? See website mobile nav code*/
    height: 100%; /*Change to viewport height: 100vh? See website mobile nav code*/
    overflow: auto; /*Enables scroll*/
    background-color: rgba(83, 86, 91, 0.9); /*rgba sets opacity without inheritance*/
  }

  .modal-window {
    /* understand how to do this using flexbox. 
    Q: do I need a modal-container in html to wrap and position the modalWindow?*/
    position: fixed; /*Positions modal relative to viewport.*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* UNDERSTAND what this property does! */ 
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    z-index: 2;
    /* width: 400px; */
    width: 75%;
  }

  .modal-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 20px;
    /*background-color: rgba(227, 226, 223, 1);*/ /* rgba() sets opacity without inheritance. */
    background-color: rgb(225, 219, 199); /* rgba() sets opacity without inheritance. */
    /*background-color: rgba(241, 148, 148, 1);*/ /*rgba sets opacity without inheritance*/
  }

  .modal-image {
    margin: 10px;
    /* width: 30%; */
    width: 100%;
    /* border: 1px solid red; */
  }

  .modal-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px; 
  }

  .modal-content {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
   /* width: 50%; */
    width: 100%;
    margin: 10px;
    /* border: 1px solid green; */
  }

  .modal-title {
    padding-left: 5px; 
    font-size: 1.5rem;
  }

  .modal-description {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 5px; 
    padding-right: 2px;
    padding-top: 5px;
  }

  .modal-description-text {
    /* DELETE from both css and js if not needed. */
  }

  .modal-links {
    margin: 5px;
  }

  .modalLink-1 {
    /* DELETE from both css and js if not needed. */
  }

  .modalLink-2 { 
    /* DELETE from both css and js if not needed. */
  }

  .modalNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    /* margin: 0; */
    margin: 0px 10px 0px 10px;
  }

  .arrowButtons {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 50%;
    margin: 0;
  }

  .arrowPrevious {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 20%;
  }

  .arrowNext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 20%;
  }

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 0px 10px 0px 10px;
    /*padding: 0px 5px 0px 5px;*/ 
    /* background: #E9B14C; */
    background-color: #ffffff;
  }

  /*
  Create arrows with css:
	https://www.tutorialspoint.com/css/css_arrows.htm#:~:text=Arrows%20can%20be%20created%20using,direction%20and%20amount%20of%20rotation.
  */

  /* .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    background-color: transparent;
  }     */

  .previousModal { /*styling for button element*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }

  .previousModal i { 
    font-size: 1rem;
  }

  .nextModal { /*styling for button element*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }

  .nextModal i { 
    font-size: 1rem;
  }

  .closeButton {
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    align-content: center;
    flex-flow: row wrap;
    /* width: 30%; */
    width: 20%;
    margin: 0;
  }

  .closeButton-style {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    /* background-color: #05b8ee; */
    background-color: #ffffff;
    /* color: #e1dbc7; */
    transform: scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

 .closeButton-style:hover {
    transform: scale(1);
    transition: 0.3s ease-in-out transform;
  }


  /* PORTFOLIO - MOBILE */
  
  #portfolio {
    padding: 60px 0px 60px 0px;
  }
  
  /* CONSIDER moving styling related to titles to Layout Special Styles or similar as 
  styling is shared with Gallery items:*/

  .title {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-flow: row wrap;
    width: 100%;
    margin: 30px 0px;
  }
  
  .main-title {
    text-align: center;
  }
  
  .title-line {
    width: 100%;
    height: 1px;
    margin: 20px 170px 20px 170px;
    background: #313131;
    border: none;
  }
  
  .subtitle {
    text-align: center;
  }
  
  
  /* START: [xxx] styling applied 
  to [xxx] in JavaScript: */
  /* END */
  
  /* START: [xxx] styling applied in JavaScript: */
  /* END */

  /*CONSIDER grouping some of this styling for Projects and Gallery as 
  many are the same:*/
  
  #portfolio .content-background {
    background-color: #453E4F;
  }  

  .portfolio-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-flow: row wrap;
    width: 100%;
    margin: 50px 0px;
    padding: 0px 20px;
  }
  
  .project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .project figure {
    width: 100%;
    margin: 20px 0px 20px 0px;
    /* padding: 60px 0px; */
    /* box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px; */
    /* border: 1px solid; */
    border-radius: 12px;
    background-color: #e1dbc7;
  }

  .project-title {
    padding: 40px 0px 0px 0px;
    text-align: center;
    /* font-size: 5rem; */
    font-size: 2rem;
    text-transform: uppercase;
  }

  .project-title span {
    /* color: #a3d5e6; */
    /* color: #05b8ee; */
    color: #ffffff;
    font-size: 3rem;
  }

  .view-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 40px 20px 0px;
  }

  #portfolio .button-style {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    background-color: #05b8ee;
    color: #e1dbc7;
    transform: scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

  #portfolio .button-style:hover {
    transform: scale(1);
    transition: 0.3s ease-in-out transform;
    /* background-color: #139efa; */
  }

  /* GALLERY - MOBILE */

  #gallery {
    padding: 60px 0px 60px 0px;
  }

 #gallery .content-background {
    background-color: #355E3B;
  }  

  .gallery-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-flow: row wrap;
    width: 100%;
    margin: 50px 0px;
    padding: 0px 20px;
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .gallery figure {
    width: 100%;
    margin: 20px 0px 20px 0px;
    /* box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px; */
    border-radius: 12px;
    background-color: #e1dbc7;
  }

  .gallery-title {
    padding: 40px 0px 0px 0px;
    text-align: center;
    /* font-size: 5rem; */
    font-size: 2rem;
    text-transform: uppercase;
  }
 
  .gallery-title span {
    /* color: #a3d5e6; */
    /* color: #05b8ee; */
    color: #ffffff;
    font-size: 3rem;
  }

  #gallery .button-style {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none;
    /* background-color: #FF4433; */
    background-color: #EC5800;
    color: #e1dbc7;
    transform: scale(0.9);
    cursor: pointer;
    pointer-events: auto;
  }

  #gallery .button-style:hover {
    transform: scale(1);
    transition: 0.3s ease-in-out transform;
  }
  
  /* -------------------------- Tablet Styles ------------------------- */
  
  @media only screen and (min-width: 768px) {
    
    /* Global and Structural Styles - Tablet */
  
    h1 {
      font-size: 3rem;
    }
  
    h2 {
      font-size: 2.25rem;
    }
  
    h4 {
      font-size: 1.85rem;
    }
  
    /* ------------- Tablet - Base Header-Footer Styles ------------- *
    
    /* HEADER - Tablet */
    /* FOOTER - Tablet */
  
    /* ---------------- Tablet Styles - Homepage ---------------- */
    
    /* PROJECTS - Tablet */
  
    .title-line {
      margin: 20px 250px 20px 250px;
    }
  
    .title {
      margin: 50px 0px;
    }
  
    .buttons-position {
      margin: 10px 0px 60px 0px;
    }
  
    .project {
      width: 45%;
    }

    /* GALLERY - Tablet */

    .gallery {
      width: 45%;
    }
  }
  
  /* -------------------------- Desktop Styles ------------------------- */
  
  @media only screen and (min-width: 1200px) {
  
    /* Global and Structural Styles - Desktop */
  
    h1 {
      font-size: 4.5rem;
    }
  
    h2 {
      font-size: 3.25rem;
    }
  
    h4 {
      font-size: 2.25rem;
    }
  
    /* ------------- Desktop - Base Header-Footer Styles ------------- *
    
    /* HEADER - Tablet */
    /* FOOTER - Tablet */
  
    /* ------------------ Desktop Styles - Homepage ------------------ */
    
    /* PROJECTS - DESKTOP */
  
    #projects {
      padding: 80px 0px 100px 0px;
    }
      
    .content-wrapper {
      max-width: 1200px;
    }
  
    .title {
      margin: 60px 0px;
    }
  
    .title-line {
      margin: 30px 385px 30px 385px;
    }
    
    .buttons-position {
      margin: 10px 0px 70px 0px;
    }
  
    .buttons-align {
      width: 50%;
    }
  
    /* START: Language filter buttons styling applied 
    to the button element in JavaScript: */
    .buttons-style {
      font-size: 1rem;
    }
    /* END */
  
    .project {
      width: 30%;
    }
      
    .project figure {
      margin: 30px 0px 30px 0px;
    }

    /* GALLERY - Tablet */

    .gallery {
      width: 30%;
    }
  }    